
/* ----------------------------------- */
/* Responsive */
/* ----------------------------------- */

@media only screen and (min-width : 146px) {
    $tile-size: 132px;
    $tile-border-width: 1px;
    .board {
        border-width: $tile-border-width;
        margin: 20px auto 15px auto;
        padding: 4px;
    }

    %tile {
        @include tile-sizing($tile-size, $tile-border-width);
    }

    %peg {
        @include peg-sizing($tile-size, $tile-border-width);
        box-shadow: 4px 4px 4px $peg-box-shadow-color;
    }

    button {
        font-size: 12px;
        font-weight: 300;
        padding: 3px;
    }
}

@media only screen and (min-width : 180px) {
    $tile-size: 165px;
    $tile-border-width: 1px;

    .board {
        border-width: $tile-border-width;
        margin-top: 25px;
        margin-bottom: 20px;
        padding: 7px;
    }

    %tile {
        @include tile-sizing($tile-size, $tile-border-width);
    }

    %peg {
        @include peg-sizing($tile-size, $tile-border-width);
    }

    button {
        padding: 4px;
    }
}

@media only screen and (min-width : 220px) {
    $tile-size: 200px;
    $tile-border-width: 1px;

    %tile {
        @include tile-sizing($tile-size, $tile-border-width);
    }

    %peg {
        @include peg-sizing($tile-size, $tile-border-width);
    }
}

@media only screen and (min-width : 260px) {
    $tile-size: 240px;
    $tile-border-width: 2px;

    .board {
        margin-top: 30px;
        margin-bottom: 25px;
        padding: 8px;
    }

    %tile {
        @include tile-sizing($tile-size, $tile-border-width);
    }

    %peg {
        @include peg-sizing($tile-size, $tile-border-width);
    }

    button {
        font-size: 14px;
        padding: 5px;
    }
}

@media only screen and (min-width : 300px) {
    $tile-size: 285px;
    $tile-border-width: 2px;

    .board {
        padding: 9px;
    }

    %tile {
        @include tile-sizing($tile-size, $tile-border-width);
    }

    %peg {
        @include peg-sizing($tile-size, $tile-border-width);
    }

    button {
        padding: 6px;
    }
}

@media only screen and (min-width : 340px) {
    $tile-size: 320px;
    $tile-border-width: 2px;

    .board {
        padding: 11px;
    }

    %tile {
        @include tile-sizing($tile-size, $tile-border-width);
    }

    %peg {
        @include peg-sizing($tile-size, $tile-border-width);
    }
}

@media only screen and (min-width : 380px) {
    $tile-size: 355px;
    $tile-border-width: 2px;

    .board {
        margin-top: 35px;
        margin-bottom: 28px;
        padding: 13px;
    }

    %tile {
        @include tile-sizing($tile-size, $tile-border-width);
    }

    %peg {
        @include peg-sizing($tile-size, $tile-border-width);
    }

    button {
        font-size: 14px;
        font-weight: 400;
        padding: 7px;
    }
}

@media only screen and (min-width : 420px) {
    $tile-size: 390px;
    $tile-border-width: 3px;

    %tile {
        @include tile-sizing($tile-size, $tile-border-width);
    }

    %peg {
        @include peg-sizing($tile-size, $tile-border-width);
    }
}

@media only screen and (min-width : 460px) {
    $tile-size: 425px;
    $tile-border-width: 3px;

    .board {
        margin-top: 40px;
        margin-bottom: 32px;
        padding: 15px;
    }

    %tile {
        @include tile-sizing($tile-size, $tile-border-width);
    }

    %peg {
        @include peg-sizing($tile-size, $tile-border-width);
    }

    button {
        padding: 8px;
    }
}

@media only screen and (min-width : 500px) {
    $tile-size: 460px;
    $tile-border-width: 3px;

    .board {
        margin-top: 44px;
        margin-bottom: 35px;
        padding: 18px;
    }

    %tile {
        @include tile-sizing($tile-size, $tile-border-width);
    }

    %peg {
        @include peg-sizing($tile-size, $tile-border-width);
    }

    button {
        font-size: 16px;
        padding: 9px;
    }
}

@media only screen and (min-width : 540px) {
    $tile-size: 480px;
    $tile-border-width: 4px;

    .board {
        padding: 23px;
    }

    %tile {
        @include tile-sizing($tile-size, $tile-border-width);
    }

    %peg {
        @include peg-sizing($tile-size, $tile-border-width);
    }

    button {
        padding: 10px;
    }
}

@media only screen and (min-width : 580px) {
    $tile-size: 510px;
    $tile-border-width: 5px;

    .board {
        padding: 26px;
    }

    %tile {
        @include tile-sizing($tile-size, $tile-border-width);
    }

    %peg {
        @include peg-sizing($tile-size, $tile-border-width);
    }
}

@media only screen and (min-width : 620px) {
    $tile-size: 540px;
    $tile-border-width: 6px;

    .board {
        padding: 29px;
    }

    %tile {
        @include tile-sizing($tile-size, $tile-border-width);
    }

    %peg {
        @include peg-sizing($tile-size, $tile-border-width);
    }

    button {
        font-size: 16px;
        font-weight: 400;
        padding: 11px;
    }
}
