
@import url('http://getbootstrap.com/dist/css/bootstrap.css');

tr.chess-row th {
    width: 20px;
    border: none;
}

tfoot tr {
    border: none;
    th {
        height: 20px;
        padding: 3px !important;
        border: none;
    }
}

tr.chess-row td{
    padding: 0 0 0 1px !important;
    min-height: 55px;
    height: 55px;
    min-width: 55px;
    width: 55px;
}

table#board tr.chess-row th:first-child, table#board tr.chess-row td:last-child {
    border-right: 2px solid black;
}

table#board {width: 460px;}

/*Alternate dark/light background for squares */
tr:nth-child(even) td:nth-child(even), tr:nth-child(odd) td:nth-child(odd) {
    background-color: gray;
}


/*outline the outer edges of the board in bold*/
tr.rank-8 td {border-top: 2px solid black !important;}
tr.rank-1 td {border-bottom: 2px solid black !important;}

div.piece {
    width: 53px;
    height: 53px;
    padding: 0;
    margin: 0;
}

/*Piece background image declarations */
div.wk {background: url('http://images.chesscomfiles.com/js/chess/images/chess/pieces/classic/53/wk.png');}
div.wp {background: url('http://images.chesscomfiles.com/js/chess/images/chess/pieces/classic/53/wp.png');}
div.wn {background: url('http://images.chesscomfiles.com/js/chess/images/chess/pieces/classic/53/wn.png');}
div.wb {background: url('http://images.chesscomfiles.com/js/chess/images/chess/pieces/classic/53/wb.png');}
div.wr {background: url('http://images.chesscomfiles.com/js/chess/images/chess/pieces/classic/53/wr.png');}
div.wq {background: url('http://images.chesscomfiles.com/js/chess/images/chess/pieces/classic/53/wq.png');}
div.bp {background: url('http://images.chesscomfiles.com/js/chess/images/chess/pieces/classic/53/bp.png');}
div.bn {background: url('http://images.chesscomfiles.com/js/chess/images/chess/pieces/classic/53/bn.png');}
div.bb {background: url('http://images.chesscomfiles.com/js/chess/images/chess/pieces/classic/53/bb.png');}
div.br {background: url('http://images.chesscomfiles.com/js/chess/images/chess/pieces/classic/53/br.png');}
div.bq {background: url('http://images.chesscomfiles.com/js/chess/images/chess/pieces/classic/53/bq.png');}
div.bk {background: url('http://images.chesscomfiles.com/js/chess/images/chess/pieces/classic/53/bk.png');}
